*{
    box-sizing: border-box;
}
body{
    background-color: rgb(135, 210, 30);
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    display: flex;
    font-family: sans-serif;
}

.box{
    background-color: #fff;
    box-shadow: 0 4px 5px rgba(0,0,0,0.1);
    border-radius: 20px;
    padding: 30px;
    text-align: center;
    max-width: 500px;
}

.box h2{
    margin: 10px 0 0;
}

.box p{
    color: #312940;
    margin: 10px ;
}

.form-control{
    margin: 30px 0 20px ;
    position: relative;
}

.input{
    border: 0;
    border-radius: 50px;
    width: 100%;
    box-shadow: 0 4px 5px rgba(0,0,0,0.1);
    padding: 12px 15px;
    height: 42px;
    font-size: 14px;
    font-family: inherit;

}

.btn{
    background-color: #312940;
    border: 0;
    border-radius: 50px;
    color: #fff;
    padding: 12px 15px;
    height: 42px;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 14px;
    font-family: inherit;
}

.box img{
    width: 400px;
    max-width: 100%;
}

.input:focus, .btn:focus{
    outline: 0;
    
}